.booklist,
.bookdetails {
    padding: 3rem 0;
    background-color: #f8f9fa;
}

.booklist-content{
    display:grid;
    grid-template-columns: repeat(4,1fr); /* 4 books per row */
    gap:2rem;
}

.book-item{
    padding:2rem 1rem;
    border-radius:8px;
    background-color:var(--white-color);
    box-shadow:rgb(0 0 0 / 5%) 0px 5px 15px;
    transition:var(--transition);
}

.book-item:hover{
    transform:translateY(-5px);
    box-shadow:rgb(0 0 0 / 15%) 0px 5px 15px;
}

.book-item-img img{
    width:100%;
    max-width:120px;   /* smaller covers */
    height:180px;
    object-fit:cover;
    margin:auto;
    display:block;
}

.book-item-info{
    margin-top:1.5rem;
}

.book-item-info-item.title{
    line-height:1.4;
    margin-bottom:.8rem;
}

.book-item-info-item.author{
    margin-bottom:4px;
}

.book-item-info-item.publish-year{
    opacity:.6;
    font-style:italic;
    font-size:14px;
}

/* tablet */
@media screen and (max-width:992px){
    .booklist-content{
        grid-template-columns:repeat(3,1fr);
    }
}

/* small tablet */
@media screen and (max-width:768px){
    .booklist-content{
        grid-template-columns:repeat(2,1fr);
    }
}

/* phone */
@media screen and (max-width:500px){
    .booklist-content{
        grid-template-columns:1fr;
    }
}